<!DOCTYPE html>
<html ng-app="blogular" ng-strict-di ng-cloak>
<head lang="en">
    <title>Blogular</title>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/vendor.css" type="text/css">
    <link rel="stylesheet" href="/css/default.css" type="text/css">
</head>
<body>
  <ng-include src="'/nav/topnav.html'"></ng-include>

  <div class="container">
      <header class="blog-header"></header>

      <div class="row">
          <div class="col-sm-8 blog-main">
              <div class="main-view" ng-view></div>
          </div>
          <nav class="col-sm-3 col-sm-offset-1 blog-sidebar" ng-include="'/nav/sidebar.html'"></nav>
      </div>
  </div>

  <div class="blog-footer"></div>

<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
