<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" active-on-location href="/posts">Posts</a>
            <a class="blog-nav-item" active-on-location href="/post" ng-if="$root.currentUser != null">New Post</a>

            <span class="account" ng-controller="LoginController">
                <a ng-if="$root.currentUser == null" href="" class="login" ng-click="login()">Login</a>

                <div class="dropdown" ng-if="$root.currentUser != null">
                    <a href="#" class="dropdown-toggle"><i class="fa fa-user"></i> {{currentUser.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </span>
        </nav>
    </div>
</div>
