<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" active-on-location href="/posts">Posts</a>
            <a class="blog-nav-item" active-on-location href="/post" ng-if="$root.currentUser != null">New Post</a>

            <span class="account" ng-controller="LoginController">
                <a ng-if="$root.currentUser == null" href="" ng-click="login()">Login</a>
                <a ng-if="$root.currentUser != null" href="" ng-click="logout()">{{currentUser.name}}</a>
            </span>
        </nav>
    </div>
</div>
