<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Really delete the post?</h4>
</div>
<div class="modal-body">
    <p>
        Are you sure you want to delete the post <em>{{deletePostCtrl.postTitle}}</em>?
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()">Delete</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
