<h2>New Post</h2>

<form class="form-horizontal" name="postForm" id="postForm" role="form" novalidate ng-if="!saving">

    <div class="form-group">
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputPostTitle" ng-model="newPost.title" autofocus required placeholder="Title">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <epic-editor ng-model="newPost.body" required></epic-editor>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button ng-disabled="postForm.$invalid" class="btn btn-primary" ng-click="savePost()">Post</button>
        </div>
    </div>
</form>

<div ng-if="saving">
    <p>Publishing your post...</p>
    <progress></progress>
</div>
