.blog-main {
  overflow: hidden;

  div[ng-view], .edit-post, .blog-post {
    &.ng-enter {
      -webkit-animation: fadeInRight 0.3s;
      animation: fadeInRight 0.3s;
    }
  }
}

.login-form .alert-warning {
  -webkit-animation: shake 0.8s;
  animation: shake 0.8s;
}
